.learn_more-content{
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.learn_more-content h2{
    font-family: "Oswald";
    color: white;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;  
}

.learn_more-content button{
    background-color: #55C2D8;
    color: white;
    width: 150px;
    height: 150px;
    justify-content: center;
    font-size: 80px;
    border: 0px;
    border-radius: 50%;
}

.learn_more-content h3{
    font-family: "Source Sans Pro";
    color: white;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;  
}