body{
    margin: 0;
    padding: 0;
}

.hero{
    background: url(/assets/Desktop_Backgrounds_1920x1200.png) ;
    background-size: cover;
    min-width: 100vh;
    min-height: 100vh;
}


.main {   
    background: #EEEEEE;
    min-width: 100vh;
    min-height: 700px;
    position: relative;
}

.main h2{   
    margin-top: 0;
}
 
.learn_more{
    background: url(/assets/Conference_Background_1200x666.png) ;
    background-size: cover;
    min-width: 100vh;
    min-height: 100vh;
    position: relative;
}
.learn_more h2 {
    margin-top: 0;
}

.footer {
    position: relative;
    background: #464547;
    min-width: 100vh;
    min-height: 170px;
}
